SoapyMessengerClient/SoapyMessengerClient/Service References/SoapyMessenger/Soapy3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/Soapy?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="login">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="loginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="loginResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="error" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="signUp">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="signUpResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="signUpResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="error" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="sendMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="msg" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="from" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="to" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="sendMessageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sendMessageResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="error" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="checkMessages">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="from" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="to" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="checkMessagesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="checkMessagesResult" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="error" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getContacts">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="user" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getContactsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="getContactsResult" nillable="true" type="q1:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>