SoapyMessengerClient/SoapyMessengerClient/Service References/SoapyMessenger/User.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Manager" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8733/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8733/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8733/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/System.Net" />
      <xsd:import schemaLocation="http://localhost:8733/?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System.Net.Sockets" />
      <xsd:import schemaLocation="http://localhost:8733/?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IManager_login_InputMessage">
    <wsdl:part name="parameters" element="tns:login" />
  </wsdl:message>
  <wsdl:message name="IManager_login_OutputMessage">
    <wsdl:part name="parameters" element="tns:loginResponse" />
  </wsdl:message>
  <wsdl:message name="IManager_signUp_InputMessage">
    <wsdl:part name="parameters" element="tns:signUp" />
  </wsdl:message>
  <wsdl:message name="IManager_signUp_OutputMessage">
    <wsdl:part name="parameters" element="tns:signUpResponse" />
  </wsdl:message>
  <wsdl:message name="IManager_sendMessage_InputMessage">
    <wsdl:part name="parameters" element="tns:sendMessage" />
  </wsdl:message>
  <wsdl:message name="IManager_sendMessage_OutputMessage">
    <wsdl:part name="parameters" element="tns:sendMessageResponse" />
  </wsdl:message>
  <wsdl:message name="IManager_checkMessages_InputMessage">
    <wsdl:part name="parameters" element="tns:checkMessages" />
  </wsdl:message>
  <wsdl:message name="IManager_checkMessages_OutputMessage">
    <wsdl:part name="parameters" element="tns:checkMessagesResponse" />
  </wsdl:message>
  <wsdl:message name="IManager_getContacts_InputMessage">
    <wsdl:part name="parameters" element="tns:getContacts" />
  </wsdl:message>
  <wsdl:message name="IManager_getContacts_OutputMessage">
    <wsdl:part name="parameters" element="tns:getContactsResponse" />
  </wsdl:message>
  <wsdl:portType name="IManager">
    <wsdl:operation name="login">
      <wsdl:input wsaw:Action="http://tempuri.org/IManager/login" message="tns:IManager_login_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IManager/loginResponse" message="tns:IManager_login_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="signUp">
      <wsdl:input wsaw:Action="http://tempuri.org/IManager/signUp" message="tns:IManager_signUp_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IManager/signUpResponse" message="tns:IManager_signUp_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="sendMessage">
      <wsdl:input wsaw:Action="http://tempuri.org/IManager/sendMessage" message="tns:IManager_sendMessage_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IManager/sendMessageResponse" message="tns:IManager_sendMessage_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="checkMessages">
      <wsdl:input wsaw:Action="http://tempuri.org/IManager/checkMessages" message="tns:IManager_checkMessages_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IManager/checkMessagesResponse" message="tns:IManager_checkMessages_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getContacts">
      <wsdl:input wsaw:Action="http://tempuri.org/IManager/getContacts" message="tns:IManager_getContacts_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IManager/getContactsResponse" message="tns:IManager_getContacts_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IManager" type="tns:IManager">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="login">
      <soap:operation soapAction="http://tempuri.org/IManager/login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="signUp">
      <soap:operation soapAction="http://tempuri.org/IManager/signUp" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sendMessage">
      <soap:operation soapAction="http://tempuri.org/IManager/sendMessage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="checkMessages">
      <soap:operation soapAction="http://tempuri.org/IManager/checkMessages" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getContacts">
      <soap:operation soapAction="http://tempuri.org/IManager/getContacts" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Manager">
    <wsdl:port name="BasicHttpBinding_IManager" binding="tns:BasicHttpBinding_IManager">
      <soap:address location="http://localhost:8733/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>